:root {
  --blu-poste: #0053a0;
  --giallo-poste: #ffcc00;
  --grigio-chiaro: #f4f6f8;
  --color-blue-light: #478eb9;
  --color-yellow-accent: #fcce43;
  --color-bg-light: #fefefe;
  --color-text: #333;
  --color-border-light: #eee;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  height: 100px;
  width: 98%;
  border-bottom: 2px solid var(--color-blue-light);
}

.navbar h1 {
  font-size: 32px;
  color: var(--color-blue-light);
  margin: 0;
}

.logo {
  height: 280px;
  width: 270px;
}

.btn-login {
  background-color: var(--color-yellow-accent);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  transition: 0.3s;
}

.btn-login:hover {
  background-color: #ffd84d;
}

.btn-logout {
  background-color: var(--color-yellow-accent);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  color: #222;
  cursor: pointer;
  transition: 0.3s;
}

.btn-logout:hover {
  background-color: #ffd84d;
}


